@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&display=swap");

/* Fonts */
$family-primary: "DM Sans", -apple-system, system-ui, BlinkMacSystemFont, Arial,
  sans-serif;
$family-secondary: "Inter", -apple-system, system-ui, BlinkMacSystemFont, Arial,
  sans-serif;

/* Colors */
$primary: #2a364d;
$secondary: #93b7be;

$navbar-breakpoint: 3000px;
